<!DOCTYPE html>
<html class=" js csstransforms3d" lang="vi" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="https://ogp.me/ns#"
    xmlns="https://www.w3.org/1999/xhtml">

<head>
    <title>  </title>
</head>

<body>
    <div class="mp-pusher" id="mp-pusher">
        <header class="header">
            <div class="header-main v3_header-main">
                <div class="container">
                    <div class="v3_header_top v3_diplay_flex">
                        <div class="v3_logo">
                      
                        </div>
                        <div class="v3_location">
                            <p class="v3_location_title">Xem giá, tồn kho tại:</p>
                            <div class="v3_location-dropdown">
                                <div class="v3_location-dropdown-title">
                                    <select class="v3_location_name location_name ">
                                        <option value="1" selected="">Hà Nội</option>
                                        <option value="2">TP. Hồ Chí Minh</option>
                                        <option value="3">Đà Nẵng</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="v3_search">
                            <form id="form_submit" action="https://mobilecity.vn/tim-kiem" method="post">
                                <input name="_token" type="hidden" value="IA0CQLqz5TlkYGBiXBcr24ZL2sEjEUHx9nP3YQV0">
                                <input name="keyword" id="keyword" aria-label="Tìm kiếm sản phẩm..." required=""
                                    type="text" placeholder="Tìm kiếm sản phẩm ..." autocomplete="off">
                                <button name="submit" class="btn-search" aria-label="Tìm kiếm sản phẩm" type="submit">
                                    <div class="all-icon icon-search"></div>
                                </button>
                            </form>
                            <div class="suggest-search">
                                <ul class="suggest-search-list"></ul>
                            </div>
                        </div>
                        <div class="v3_logs logs">
                            <div class="v3_btn-action">
                                <a class="v3_diplay_flex v3_diplay_column" routerLink="/login"
                                    rel="nofollow">
                                    <img width="20" height="20" alt="hình ảnh icon"
                                        src="https://mobilecity.vn/public/assets/img/icon_login.png" loading="lazy">
                                    <span class="v3_item_title mt-5" data-gtm-vis-recent-on-screen99115113_26="1416"
                                        data-gtm-vis-first-on-screen99115113_26="1416"
                                        data-gtm-vis-total-visible-time99115113_26="10000"
                                        data-gtm-vis-has-fired99115113_26="1"> Đăng nhập</span>
                                </a>
                            </div>
                            <div class="v3_btn-action">
                                <a class="v3_diplay_flex v3_diplay_column" href="https://mobilecity.vn/register"
                                    rel="nofollow">
                                    <img width="20" height="20" alt="hình ảnh icon"
                                        src="https://mobilecity.vn/public/assets/img/icon_login.png" loading="lazy">
                                    <span class="v3_item_title mt-5" data-gtm-vis-recent-on-screen99115113_26="1416"
                                        data-gtm-vis-first-on-screen99115113_26="1416"
                                        data-gtm-vis-total-visible-time99115113_26="9900"
                                        data-gtm-vis-has-fired99115113_26="1"> Đăng ký</span>
                                </a>
                            </div>
                        </div>
                        <div class="v3_menu_category v3_menu_category_top">
                            <div class="v3_item-menu">
                                <a href="https://mobilecity.vn/tin-tuc">
                                    <span data-gtm-vis-has-fired99115113_26="1"></span>
                                    Tin tức
                                </a>
                            </div>
                            <div class="v3_item-menu">
                                <a href="https://mobilecity.vn/event">
                                    <span data-gtm-vis-has-fired99115113_26="1"></span>
                                    Events
                                </a>
                            </div>
                            <div class="v3_item-menu">
                                <a href="https://mobilecity.vn/tra-cuu-bao-hanh">
                                    <span data-gtm-vis-has-fired99115113_26="1"></span>
                                    Tra cứu BH
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="v3_header_bottom v3_menu">
                        <ul class="v3_diplay_flex">
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom" href="https://mobilecity.vn/dien-thoai">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/smartPhone.png"
                                            loading="lazy">
                                        Điện thoại
                                    </a>
                                </div>
                                <div class="sub-menu-type-3" id="box-menu">
                                    <div class="title-menu">
                                        <p>Hãng sản xuất</p>
                                        <ul>
                                            <li><a href="https://mobilecity.vn/dien-thoai-kho-may-cu">Điện thoại Cũ</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-iphone-chinh-hang-vna">iPhone
                                                    Chính hãng VN/A</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-apple">iPhone Cũ 99%</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-apple-watch">Apple Watch</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-samsung">Samsung Cũ</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-samsung-chinh-hang">Samsung
                                                    Chính hãng</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-xiaomi">Xiaomi</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-poco">POCO</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-redmi">Redmi</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-realme">Realme</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-asus">Asus (ROG Phone)</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-oneplus">OnePlus</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-vivo">Vivo</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-lg">LG</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-oppo">OPPO</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-sony">Sony</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-zte">Nubia Red Magic</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-google">Google</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-meizu">Meizu</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-vsmart">Vsmart</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-lenovo">Lenovo - Motorola</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-tecno">Tecno</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/dien-thoai-may-choi-game-pc">Máy Chơi
                                                    Game PC</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom"
                                        href="https://mobilecity.vn/may-tinh-bang">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/tablet.png"
                                            loading="lazy">
                                        Máy tính bảng
                                    </a>
                                </div>
                                <div class="sub-menu-type-3" id="box-menu">
                                    <div class="title-menu">
                                        <p>Hãng sản xuất</p>
                                        <ul>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-ipad">iPad</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-samsung-galaxy-tab">Samsung
                                                    Galaxy Tab</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-lenovo">Lenovo</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-vivo-pad">Vivo Pad</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-oppo-pad">OPPO Pad</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-xiaomi-redmi-pad">Xiaomi
                                                    Redmi Pad</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/may-tinh-bang-realme-pad">Realme Pad</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom" href="https://mobilecity.vn/laptop">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/laptop.png"
                                            loading="lazy">
                                        Laptop
                                    </a>
                                </div>
                                <div class="sub-menu-type-3" id="box-menu">
                                    <div class="title-menu">
                                        <p>Hãng sản xuất</p>
                                        <ul>
                                            <li><a href="https://mobilecity.vn/laptop-laptop-xiaomi-redmi">Laptop Xiaomi
                                                    - Redmi</a>
                                            </li>
                                            <li><a href="https://mobilecity.vn/laptop-macbook">MacBook</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom" href="https://mobilecity.vn/tivi">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/tv.png"
                                            loading="lazy">
                                        Tivi
                                    </a>
                                </div>
                                <div class="sub-menu-type-3" id="box-menu">
                                    <div class="title-menu">
                                        <p>Hãng sản xuất</p>
                                        <ul>
                                            <li><a href="https://mobilecity.vn/tivi-xiaomi-gia-re">Tivi Xiaomi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom" href="https://mobilecity.vn/phu-kien">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/tv.png"
                                            loading="lazy">
                                        Phụ kiện
                                    </a>
                                </div>
                                <div class="sub-menu-type-3" id="box-menu">
                                    <div class="title-menu">
                                        <p>Hãng sản xuất</p>
                                        <ul>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-tai-nghe">Tai nghe Bluetooth -
                                                    Loa</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-do-choi-cong-nghe">Đồ chơi công
                                                    nghệ</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-dong-ho-thong-minh">Đồng hồ
                                                    thông minh</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-pin-sac-du-phong">Pin sạc dự
                                                    phòng</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-iphone">Phụ kiện iPhone</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-xiaomi">Phụ kiện Xiaomi</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-realme">Phụ kiện Realme</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-may-loc-khong-khi">Máy lọc không
                                                    khí</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-phu-kien-khac">Phụ kiện khác</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-phu-kien-pisen">Phụ kiện
                                                    Pisen</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-quat-tan-nhiet">Quạt tản
                                                    nhiệt</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-flycam">Flycam</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-thiet-bi-livestream">Thiết bị
                                                    LiveStream</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-quat-tich-dien">Quạt tích
                                                    điện</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/phu-kien-may-massage">Máy massage</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom"
                                        href="https://mobilecity.vn/phu-kien-dong-ho-thong-minh">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/watch.png"
                                            loading="lazy">
                                        Đồng hồ thông minh
                                    </a>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom"
                                        href="https://mobilecity.vn/phu-kien-tai-nghe">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/watch.png"
                                            loading="lazy">
                                        Tai nghe
                                    </a>
                                </div>
                            </li>
                            <li class="v3-item-menu">
                                <div class="v3_menu_category">
                                    <a class="v3_diplay_flex v3_catgory_bottom"
                                        href="https://mobilecity.vn/sua-chua-dien-thoai">
                                        <img width="25" height="25" alt="hình ảnh icon"
                                            src="https://mobilecity.vn/public/assets/img/icon_header/repair.png"
                                            loading="lazy">
                                        Sửa chữa
                                    </a>
                                </div>
                                <div class="sub-menu-type-3" id="box-menu">
                                    <div class="title-menu">
                                        <p>Hãng sản xuất</p>
                                        <ul>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-iphone">Sửa điện thoại
                                                    iPhone</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-ipad">Sửa iPad, Apple Watch</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-sua-macbook">Sửa Macbook</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-samsung">Sửa điện thoại
                                                    Samsung</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-oppo">Sửa điện thoại OPPO</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-dien-thoai-xiaomi">Sửa điện
                                                    thoại Xiaomi</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-realme">Sửa điện thoại
                                                    Realme</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-asus">Sửa điện thoại Asus</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-sony">Sửa điện thoại Sony</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-lg">Sửa điện thoại LG</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-Vivo">Sửa điện thoại Vivo</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-sua-surface">Sửa Surface</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-hang-khac">Hãng khác</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-sua-dien-thoai-google-pixel">Sửa
                                                    điện thoại Google Pixel</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-vsmart">Sửa điện thoại
                                                    Vsmart</a>
                                            </li>
                                            <li>
                                                <a href="https://mobilecity.vn/sua-chua-dung-cu-sua-dien-thoai">Dụng cụ
                                                    sửa Điện thoại</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

</html>