
	<div class="mp-pusher" id="mp-pusher">
		<footer>
			<div class="container">
				<div class="footer-top">
					<div class="footer-top-item">
						<div class="title">
							<div class="all-icon icon-location"></div>
							Hệ thống cửa hàng
						</div>
						<div class="footer-top-content">
							<div class="address-group">
								<div class="address-group-title">Hà Nội</div>
								<div class="address-group-main">
									<div class="address-group-item">
										<address>120 Thái Hà, Q. Đống Đa<a href="https://mobilecity.vn/lien-he?cs=1"
												target="_blank" rel="nofollow">Xem bản đồ</a></address>
										<p>Điện thoại: <a href="tel:0969120120">0969.120.120</a>
											-
											<a href="tel:0374379999">037.437.9999</a>
										</p>
									</div>
									<div class="address-group-item">
										<address>398 Cầu Giấy, Q. Cầu Giấy<a href="https://mobilecity.vn/lien-he?cs=2"
												target="_blank" rel="nofollow">Xem bản đồ</a></address>
										<p>Điện thoại: <a href="tel:0961111398">096.1111.398</a>
											-
											<a href="tel:0374379999">037.437.9999</a>
										</p>
									</div>
									<div class="address-group-item">
										<address>42 Phố Vọng, Hai Bà Trưng<a href="https://mobilecity.vn/lien-he?cs=6"
												target="_blank" rel="nofollow">Xem bản đồ</a></address>
										<p>Điện thoại: <a href="tel:0979884242">0979.884242</a>
											-
											<a href="tel:0374379999">037.437.9999</a>
										</p>
									</div>
								</div>
							</div>
							<div class="address-group">
								<div class="address-group-title">Hồ Chí Minh</div>
								<div class="address-group-main">
									<div class="address-group-item">
										<address>123 Trần Quang Khải, Q.1<a href="https://mobilecity.vn/lien-he?cs=3"
												target="_blank" rel="nofollow">Xem bản đồ</a></address>
										<p>Điện thoại: <a href="tel:0965123123">0965.123.123</a>
											-
											<a href="tel:0969520520">0969.520.520</a>
										</p>
									</div>
									<div class="address-group-item">
										<address>602 Lê Hồng Phong, P.10, Q.10<a
												href="https://mobilecity.vn/lien-he?cs=4" target="_blank"
												rel="nofollow">Xem bản đồ</a></address>
										<p>Điện thoại: <a href="tel:0971111602">097.1111.602</a>
											-
											<a href="tel:0973333602">097.3333.602</a>
										</p>
									</div>
								</div>
							</div>
							<div class="address-group">
								<div class="address-group-title">Đà Nẵng</div>
								<div class="address-group-main">
									<div class="address-group-item">
										<address>97 Hàm Nghi, Q.Thanh Khê<a href="https://mobilecity.vn/lien-he?cs=5"
												target="_blank" rel="nofollow">Xem bản đồ</a></address>
										<p>Điện thoại: <a href="tel:0961239797">096.123.9797</a>
											-
											<a href="tel:0971239797">097.123.9797</a>
										</p>
									</div>
								</div>
							</div>
							<div class="address-group">
								<div class="address-group-title">Hotline CSKH: <a
										href="tel:0971206688">097.120.66.88</a></div>
							</div>
						</div>
					</div>
					<div class="footer-top-item">
						<div class="title">
							<div class="all-icon icon-policy"></div>
							quy định - chính sách
						</div>
						<div class="footer-top-content">
							<ul class="footer-list">
								<li><a href="https://mobilecity.vn/page/chinh-sach-bao-hanh.html" target="_blank"
										rel="nofollow">Chính sách bảo hành</a></li>
								<li><a href="https://mobilecity.vn/page/chinh-sach-van-chuyen.html" target="_blank"
										rel="nofollow">Chính sách vận chuyển</a></li>
								<li><a href="https://mobilecity.vn/page/chinh-sach-doi-tra-hang.html" target="_blank"
										rel="nofollow">Chính sách đổi trả hàng</a></li>
								<li><a href="https://mobilecity.vn/page/chinh-sach-bao-mat-thong-tin.html"
										target="_blank" rel="nofollow">Chính sách bảo mật thông tin</a></li>
								<li><a href="https://mobilecity.vn/page/huong-dan-thanh-toan.html" target="_blank"
										rel="nofollow">Hướng dẫn thanh toán</a></li>
								<li><a href="https://mobilecity.vn/page/huong-dan-mua-hang-online.html" target="_blank"
										rel="nofollow">Hướng dẫn mua hàng Online</a></li>
								<li><a href="https://mobilecity.vn/page/dich-vu-van-chuyen-hang-thu-tien-tan-noi-mobilecity.html"
										target="_blank" rel="nofollow">Dịch vụ Ship COD Toàn quốc</a></li>
								<li><a href="https://mobilecity.vn/page/chinh-sach-dai-ly.html" target="_blank"
										rel="nofollow">Chính sách đại lý linh, phụ kiện</a></li>
							</ul>
						</div>
					</div>
					<div class="footer-top-item">
						<div class="title">
							<div class="all-icon icon-email"></div>
							Đăng ký nhận bảng tin
						</div>
						<div class="footer-top-content">
							<div class="subscribe-form">
								<input id="subscribe-email" type="text" placeholder="Nhập email của bạn...">
								<button class="btn_nhan" id="subscribe-btn">Gửi</button>
							</div>
						</div>
						<div class="title">
							<div class="all-icon icon-connect"></div>
							Liên kết
						</div>
						<div class="footer-top-content" style="position: relative;">
							<div class="connect-content">
								<div class="connect-content-item">
									<a href="https://www.facebook.com/MobileCity.vn" target="_blank" rel="nofollow">
										<img style="width: 25px; height: 25px; float: left; object-fit: cover;"
											alt="hình ảnh mạng xã hội"
											src="https://cdn.mobilecity.vn/mobilecity-vn/images/2023/04/facebook-logo-25.png"
											loading="lazy">
										<span data-gtm-vis-polling-id99115113_26="222"
											data-gtm-vis-recent-on-screen99115113_26="3419"
											data-gtm-vis-first-on-screen99115113_26="3419"
											data-gtm-vis-total-visible-time99115113_26="6200">Facebook</span>
									</a>
								</div>
								<div class="connect-content-item">
									<a href="https://www.youtube.com/@MobileCityVn" target="_blank" rel="nofollow">
										<img style="width: 25px; height: 25px; float: left; object-fit: cover;"
											alt="hình ảnh mạng xã hội"
											src="https://cdn.mobilecity.vn/mobilecity-vn/images/2023/04/youtube-logo-25.png"
											loading="lazy">
										<span data-gtm-vis-polling-id99115113_26="223"
											data-gtm-vis-recent-on-screen99115113_26="3419"
											data-gtm-vis-first-on-screen99115113_26="3419"
											data-gtm-vis-total-visible-time99115113_26="6200">Youtube</span>
									</a>
								</div>
								<div class="connect-content-item">
									<a href="https://zalo.me/2709729516030357642" target="_blank" rel="nofollow">
										<img style="width: 25px; height: 25px; float: left; object-fit: cover;"
											alt="hình ảnh mạng xã hội"
											src="https://cdn.mobilecity.vn/mobilecity-vn/images/2023/04/zalo-logo-25.png"
											loading="lazy">
										<span data-gtm-vis-polling-id99115113_26="224"
											data-gtm-vis-recent-on-screen99115113_26="3419"
											data-gtm-vis-first-on-screen99115113_26="3419"
											data-gtm-vis-total-visible-time99115113_26="6200">OA Zalo</span>
									</a>
								</div>
								<div class="connect-content-item">
									<a href="https://www.instagram.com/mobilecityvn/" target="_blank" rel="nofollow">
										<img style="width: 25px; height: 25px; float: left; object-fit: cover;"
											alt="hình ảnh mạng xã hội"
											src="https://cdn.mobilecity.vn/mobilecity-vn/images/2023/04/instagram-logo-25.png"
											loading="lazy">
										<span data-gtm-vis-polling-id99115113_26="225"
											data-gtm-vis-recent-on-screen99115113_26="3419"
											data-gtm-vis-first-on-screen99115113_26="3419"
											data-gtm-vis-total-visible-time99115113_26="6200">Instagram</span>
									</a>
								</div>
								<div class="connect-content-item">
									<a href="https://www.tiktok.com/@mobilecity.vn" target="_blank" rel="nofollow">
										<img style="width: 25px; height: 25px; float: left; object-fit: cover;"
											alt="hình ảnh mạng xã hội"
											src="https://cdn.mobilecity.vn/mobilecity-vn/images/2023/04/tiktok-logo-25.png"
											loading="lazy">
										<span data-gtm-vis-polling-id99115113_26="226"
											data-gtm-vis-recent-on-screen99115113_26="3419"
											data-gtm-vis-first-on-screen99115113_26="3419"
											data-gtm-vis-total-visible-time99115113_26="6200">Tiktok</span>
									</a>
								</div>
								<div class="connect-content-item">
									<a href="https://twitter.com/MobileCityHaNoi" target="_blank" rel="nofollow">
										<img style="width: 25px; height: 25px; float: left; object-fit: cover;"
											alt="hình ảnh mạng xã hội"
											src="https://cdn.mobilecity.vn/mobilecity-vn/images/2023/04/twitter-logo-25.png"
											loading="lazy">
										<span data-gtm-vis-polling-id99115113_26="227"
											data-gtm-vis-recent-on-screen99115113_26="3419"
											data-gtm-vis-first-on-screen99115113_26="3419"
											data-gtm-vis-total-visible-time99115113_26="6200">Twitter</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-top-item">
						<div class="footer-top-content">
							<div class="icon-footer">
								<div class="all-icon icon-norton"></div>
								<a href="http://online.gov.vn/Home/WebDetails/23215" target="_blank" rel="nofollow">
									<div class="all-icon icon-notification"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-item">
						<p>© 2020 - HỘ KINH DOANH SỬA CHỮA BẢO HÀNH ĐIỆN THOẠI - 120 THÁI HÀ.</p>
					</div>
					<div class="footer-bottom-item">
						<p>Bạn có thể thanh toán với</p>
						<div class="all-icon icon-bank"></div>
					</div>
					<div class="footer-bottom-item">
						<p>Tư vấn và phát triển bởi: <span style="color: rgb(0, 0, 255);"
								data-gtm-vis-polling-id99115113_26="228" data-gtm-vis-recent-on-screen99115113_26="3419"
								data-gtm-vis-first-on-screen99115113_26="3419"
								data-gtm-vis-total-visible-time99115113_26="6200">SUDO</span></p>
					</div>
				</div>
			</div>
		</footer>
	</div>


