
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/postcss7-compat@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="h-screen flex items-center justify-center">
    <div class="flex flex-col w-full max-w-md p-6 bg-white shadow-md rounded-lg">
      <div class="flex justify-center mb-6">
        <a class="py-4 block"><img src="../assets/images/logos/logo-light.svg" alt="Logo" class="mx-auto" /></a>
      </div>
      <p class="mb-4 text-gray-400 text-sm text-center">Welcome to Admin</p>
      <!-- form -->
      <form  [formGroup]="form" (ngSubmit)="login()">
        <div class="py-4">
          <h1 class="font-bold py-4">Login</h1>
        </div>
  
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password" />
          <mat-icon matPrefix>lock</mat-icon>
          <mat-icon (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
  
        <a routerLink="/forget-password" class="text-sm font-semibold text-blue-600 hover:text-blue-700">Forgot Password?</a>
  
        <button type="submit" [disabled]="!form.valid" class="w-full mt-4 border border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold">
          Login
        </button>
  
        <div class="my-5 text-center">
          <span class="text-slate-600">Don't have an account?</span>
          <a class="text-purple-700" [routerLink]="['/register']">Register</a>
        </div>
      </form>
    </div>
  </div>
  
</html>
