<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Valid email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Password is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
  </form>
  <a routerLink="/register">Don't have an account? Register here</a>
</div>
