<div class="mp-pusher" id="mp-pusher">
    <section class="container">
      <section class="product-box">
        
        <div class="product-list">
          <div *ngFor="let product of products" class="product-list-item">
            <div class="product-item-image">
              <div class="hot-and-new">
                <span class="hot">Hot</span>
              </div>
              <img width="212" height="210" class="lazy link_name" [alt]="product.title" [src]="product.images.url">
            </div>
            <div class="product-item-info">
              <div class="product-item-left">
                <p class="name">{{ product.title }}</p>
                <p class="price">{{ product.price | currency:'VND':'symbol':'1.0-0' }}</p>
              </div>
              <div class="product-item-right">
                <span class="buy">Mua</span>
              </div>
              <div class="product-item-full-width">
                <ul>
                  <li>Tặng: <span style="color: rgb(208, 2, 28);">Miễn phí BHV</span> lần thứ 5, khi đã mua BHV lần thứ 4.</li>
                  <li>(Quý khách <strong><a href="https://mobilecity.vn/login" target="_blank" rel="nofollow"><span style="color: rgb(0, 0, 255);">Đăng nhập</span></a></strong> để kiểm tra đơn hàng)</li>
                  <li>- Chat online: <strong><a href="https://m.me/MC42pV" target="_blank" rel="nofollow"><span style="color: rgb(0, 0, 255);">Chat Facebook</span></a></strong></li>
                  <li>- Hà Nội: <strong><a href="tel:0971206688" target="_blank" rel="nofollow"><span style="color: rgb(0, 0, 255);">097.120.6688</span></a></strong></li>
                  <li>- Tp.HCM: <strong><a href="tel:0965123123" target="_blank" rel="nofollow"><span style="color: rgb(0, 0, 255);">0965.123.123</span></a></strong></li>
                  <li>- Đà Nẵng: <strong><a href="tel:0961239797" target="_blank" rel="nofollow"><span style="color: rgb(0, 0, 255);">096.123.9797</span></a></strong></li>
                  <li>➖➖➖➖➖</li>
                  <li>
                    <figure class="sudo-media-item"><a href="https://shope.ee/2q896Hpv8y" target="_blank" rel="nofollow"><img alt="mobilecity-sale-15/6/2024" src="https://cdn.mobilecity.vn/mobilecity-vn/images/2024/06/banner-sale-15-6.jpg"></a></figure>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="viewmore">
          <a class="more" id="home_view_more_product" href="javascript:;" data-count="15" data-location="1" data-type="phones">Xem thêm điện thoại</a>
        </div>
      </section>
    </section>
</div>
