
    <div class="mp-pusher" id="mp-pusher">
        <section class="container">
            <section class="product-box">
                <div class="product-box-top">
                    <div class="product-category">
                        <p>Hãng</p>
                        <div class="product-category-list">
                            <ul>
                                <li><a href="https://mobilecity.vn/dien-thoai-kho-may-cu">Điện thoại Cũ</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-iphone-chinh-hang-vna">iPhone Chính hãng VN/A</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-apple">iPhone Cũ 99%</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-apple-watch">Apple Watch</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-samsung">Samsung Cũ</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-samsung-chinh-hang">Samsung Chính hãng</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-xiaomi">Xiaomi</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-poco">POCO</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-redmi">Redmi</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-realme">Realme</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-asus">Asus (ROG Phone)</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-oneplus">OnePlus</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-vivo">Vivo</a></li>
                                <li><a href="https://mobilecity.vn/dien-thoai-nokia">Nokia</a></li>
                            </ul>
                        </div>
                        <select id="go_phone_made">
                            <option data-link="category.html">Hãng khác</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-lg">LG</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-oppo">OPPO</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-sony">Sony</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-zte">Nubia Red Magic</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-google">Google</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-meizu">Meizu</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-vsmart">Vsmart</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-lenovo">Lenovo - Motorola</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-tecno">Tecno</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-xiaomi-gia-re">Tivi Xiaomi</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-laptop-xiaomi-redmi">Laptop Xiaomi - Redmi</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-macbook">MacBook</option>
                            <option data-link="https://mobilecity.vn/dien-thoai-may-choi-game-pc">Máy Chơi Game PC</option>
                        </select>
                    </div>
                    <div class="sort-price">
                        <select id="order_phone">
                            <option data-link="https://mobilecity.vn/dien-thoai?order=desc">Giá từ cao đến thấp</option>
                            <option data-link="https://mobilecity.vn/dien-thoai?order=asc">Giá từ thấp đến cao</option>
                        </select>
                    </div>
                </div>
            </section>
        </section>
    </div>

<!-- đây là list điện thoại -->
<div class="mp-pusher" id="mp-pusher">
    <section class="container">
      <section class="product-box">
        <div class="product-list">
          <div *ngFor="let product of products" class="product-list-item">
            <div class="product-item-image">
              <div class="hot-and-new">
                <span class="hot">Hot</span>
              </div>
              <img width="212" height="210" class="lazy link_name" [alt]="product.title" [src]="product.images.url">
            </div>
            <div class="product-item-info">
              <div class="product-item-left">
                <p class="name">{{ product.title }}</p>
                <p class="price">{{ product.price | currency:'VND':'symbol':'1.0-0' }}</p>
              </div>
              <div class="product-item-right">
                <span class="buy">Mua</span>
              </div>
              <div class="product-item-full-width">
                <ul>
                  <li>Tặng: <span style="color: rgb(208, 2, 28);">Miễn phí BHV</span> lần thứ 5, khi đã mua BHV lần thứ 4.</li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
       
        <div class="viewmore">
          <a class="more" href="javascript:;" data-count="16" data-type="fits">Xem thêm sản phẩm</a>
        </div>
      </section>
    </section>
</div>
