<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Modernize TailwindCSS HTML Admin Template</title>
</head>

<body class="bg-gray-100">
    <main class="flex items-center justify-center min-h-screen">
        <!-- Main Content -->
        <div class="flex flex-col w-full max-w-md p-6 bg-white shadow-md rounded-lg">
            <div class="flex justify-center mb-6">
                <a class="py-4 block"><img src="../assets/images/logos/logo-light.svg" alt="Logo" class="mx-auto" /></a>
            </div>
            <p class="mb-4 text-gray-400 text-sm text-center">Change Password?</p>
            <!-- form -->
            <form>
              
                <!-- Current Password -->
                <div class="my-6">
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
                  <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
              </div> 
              <!-- New Password-->
              <div class="my-6">
                <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
            </div> 
                <!-- button -->
                <div class="mb-6">
                    <a routerLink="/" class="w-full block text-center py-3 bg-blue-600 text-white rounded hover:bg-blue-700">Change Password</a>
                </div>
                
            </form>
        </div>
    </main>
</body>

</html>
