<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<div class="min-h-screen flex flex-row bg-white">

  <div class="flex flex-col bg-white text-2xl overflow-hidden w-full">
    <ul class="flex flex-col py-4">
      <li>
        <a routerLink="/" routerLinkActive="router-link-active" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
          <span class="text-base font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="router-link-active" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-music"></i></span>
          <span class="text-base font-medium">User</span>
        </a>
      </li>
      <li>
        <a routerLink="/product" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-xl text-gray-400"><i class="bx bx-drink"></i></span>
          <span class="text-base font-medium">Product</span>
        </a>
      </li>
      <li>
        <a routerLink="/shopping" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-shopping-bag"></i></span>
          <span class="text-base font-medium">Shopping</span>
        </a>
      </li>
      <li>
        <a routerLink="/chat" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-base text-gray-400"><i class="bx bx-chat"></i></span>
          <span class="text-base font-medium">Chat</span>
        </a>
      </li>
    </ul>
  </div>
</div>
